@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", "serif";
  --font-nunito: "Nunito", "serif";
  --font-chivo: "Chivo", "serif";
  --shadow-glow: [ "0 0px 20px rgba(255,255, 255, 0.35)",
    "0 0px 65px rgba(255, 255,255, 0.2)"];
}

:root {
  --primary-color: #061d33;
  --border-color: #646161;
  --border-width: 1px;
}

body {
  background-color: var(--primary-color);
  color: white;
}

a:hover {
  color: rgb(131, 120, 253);
}

.cv {
  background: rgb(95, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(95, 58, 180, 1) 0%,
    rgba(156, 73, 123, 1) 100%,
    rgba(188, 80, 93, 1) 100%,
    rgba(241, 92, 44, 1) 100%,
    rgba(186, 75, 112, 1) 100%,
    rgba(253, 96, 29, 1) 100%,
    rgba(252, 176, 69, 1) 100%
  );

  /* box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.2); */
  /* filter: drop-shadow(0 0 50px rgba(225, 225, 225, 0.3)); */
}

.about {
  background-color: #0a1e32;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%234B004B' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23322F5B'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.skills img {
  width: 60px;
  filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.4));
}

.project {
  background-color: rgba(149, 147, 149, 0.2);
  box-shadow: 2px 2px 2px rgba(73, 73, 73, 0.7);
}

.project:hover {
  background-color: rgba(149, 147, 149, 0.3);
  box-shadow: 3px 3px 3px rgba(87, 85, 85, 0.7);
  transition: 0.5s;
}

.tools span {
  padding: 0px 10px;
  border-radius: 20px;
  filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.1));
  color: rgb(255, 255, 255);
  font-weight: 100;
  font-size: small;
}

/* styling the services component timeline  */
.card-container {
  padding: 20px;
}

.card-container:nth-child(even) .card {
  margin-left: 155px;
}

.card-container:nth-child(odd) .card {
  margin-left: 40px;
}

.card {
  border-radius: 20px;
  margin-left: 20px;
  margin: 20px;
  width: 350px;
  padding: 10px 20px;
}

.card-container:nth-child(odd) {
  width: 300px;
  margin-top: -1px;
  padding: 100px 0 300px 120px;
  border-left: var(--border-width) solid var(--border-color);
  border-bottom: var(--border-width) solid var(--border-color);
  border-top: var(--border-width) solid var(--border-color);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.card-container:nth-child(even) {
  position: relative;
  margin-top: -1px;
  margin-bottom: -1px;
  width: 410px;
  padding: 100px 100px 300px 0px;
  margin-left: 300px;
  border-right: var(--border-width) solid var(--border-color);
  border-top: var(--border-width) solid var(--border-color);
  border-bottom: var(--border-width) solid var(--border-color);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.card-container:nth-child(even) .card {
  background-color: red;
  position: relative;
  right: -80px;
}

.card-container:nth-child(odd) .card {
  position: relative;
  right: 340px;
}

.card-container:last-child {
  border-bottom: none;
}

.hide {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(150%);
  transition: all 2s;
}

.card-container:nth-child(even) .hide {
  transform: translateX(-150%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.card-container:nth-child(even) .show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.icon:nth-child(2) {
  transition-delay: 400ms;
}
.icon:nth-child(3) {
  transition-delay: 600ms;
}
.icon:nth-child(4) {
  transition-delay: 800ms;
}

.card-container:nth-child(even) .icon:nth-child(4) {
  transition-delay: 400ms;
}

.card-container:nth-child(even) .icon:nth-child(3) {
  transition-delay: 600ms;
}

.card-container:nth-child(even) .icon:nth-child(2) {
  transition-delay: 800ms;
}

.card-container:nth-child(even) .icon:nth-child(1) {
  transition-delay: 1000ms;
}

/* L-300, 1010 L-300, 1500 L405, 1500 L405, 1990 L-300, 1990 L-300 2480 L405 2480 L405 2960 */

/* #code {
  z-index: 1;
  animation: move 20s linear 1;
  offset-path: path(
    "M20 25 L-298,25 L-298,500 L405, 520  L405, 1000 L-298, 1000 L-298 1490 L405 1490 L405 1980 L-298 1980 L-298 2470 L405 2470 L405 2950 "
  );
} */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move {
  0%,
  20% {
    offset-distance: 0%;
  }

  100%,
  80% {
    offset-distance: 100%;
  }
}
